<!-- login-bubble-selection.component.html -->
<div class="selection-container" [ngClass]="mode">
  <!-- Background Overlay -->
  <div class="background-overlay"></div>

  <!-- Initial Login/Register Selection -->
  <div class="selection-card" *ngIf="!mode">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Please Choose</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="login-options">
          <button mat-raised-button color="primary" (click)="mode = 'login'">
            <mat-icon>login</mat-icon>
            Login
          </button>
          <button mat-raised-button color="accent" (click)="mode = 'register'">
            <mat-icon>person_add</mat-icon>
            Register
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Floating Bubble Options -->
  <div class="bubble-container" *ngIf="mode">
    <div class="bubble" *ngFor="let option of options[mode]" [routerLink]="option.link">
      <mat-icon>{{ option.icon }}</mat-icon>
      <span>{{ option.label }}</span>
    </div>

    <!-- Back Button -->
    <button class="back-button" mat-icon-button color="warn" (click)="reset()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
