<!-- Loader -->
<app-loader [isLoading]="(isLoading$ | async) ?? false"></app-loader>

<!-- Top Navbar for guests -->
<div *ngIf="!useSideNavbar">
  <app-navbar></app-navbar>
</div>

<!-- Main content with side navbar for logged-in users -->
<div class="app-container">
  <app-side-navbar *ngIf="useSideNavbar" (sidebarCollapsed)="onSidebarCollapsed($event)"></app-side-navbar>
  <div class="main-content" [class.sidebar-collapsed]="isSidebarCollapsed" [class.with-sidebar]="useSideNavbar">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>


