<aside class="side-navbar" [class.expanded]="isExpanded">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="brand">
      <img src="https://img.icons8.com/color/48/000000/dog.png" alt="Logo" class="brand-logo" />
      <span class="brand-text" *ngIf="isExpanded">Pet Store</span>
    </div>
    <button class="toggle-btn" (click)="toggleExpand()">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>
  
  <!-- Sidebar Content -->
  <div class="sidebar-content">
    <ul class="menu-list">
      <ng-container *ngFor="let item of menuItems">
        <!-- Menu Item with Submenu -->
        <li *ngIf="item.listOfSubMenu?.length" class="menu-item" [class.expanded]="isMenuItemExpanded(item.id)">
          <div class="menu-link" (click)="toggleMenuItem(item.id)">
            <i [class]="item.svgFileBase64"></i>
            <span class="menu-text" *ngIf="isExpanded">{{ item.menuName }}</span>
            <i class="fas fa-chevron-down submenu-icon" *ngIf="isExpanded"></i>
          </div>
          <ul class="submenu" [class.show]="isMenuItemExpanded(item.id)">
            <li *ngFor="let subItem of item.listOfSubMenu" class="submenu-item">
              <a [routerLink]="subItem.menuLink" class="submenu-link" routerLinkActive="active">
                <i [class]="subItem.svgFileBase64"></i>
                <span class="menu-text" *ngIf="isExpanded">{{ subItem.menuName }}</span>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- Regular Menu Item -->
        <li *ngIf="!item.listOfSubMenu?.length" class="menu-item">
          <a [routerLink]="item.menuLink" class="menu-link" routerLinkActive="active">
            <i [class]="item.svgFileBase64"></i>
            <span class="menu-text" *ngIf="isExpanded">{{ item.menuName }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  
  <!-- Sidebar Footer with Social Links -->
  <div class="sidebar-footer">
    <!-- User Profile/Login Section -->
    <div *ngIf="isLoggedIn" class="user-info">
      <a [routerLink]="['/my-profile']" class="profile-link">
        <i class="fas fa-user"></i>
        <span *ngIf="isExpanded">My Profile</span>
      </a>
    </div>
    <div *ngIf="!isLoggedIn" class="login-section">
      <a [routerLink]="['/login']" class="login-link">
        <i class="fas fa-sign-in-alt"></i>
        <span *ngIf="isExpanded">Login</span>
      </a>
    </div>

    <!-- Social Links -->
    <div class="social-links">
      <a *ngFor="let link of socialLinks" 
         [href]="link.url" 
         target="_blank" 
         class="social-link"
         [title]="link.name">
        <i [class]="link.icon"></i>
        <span class="link-text" *ngIf="isExpanded">{{ link.name }}</span>
      </a>
    </div>
  </div>
</aside>
